__pycache__/
*.pyc
*.pyo
*.pyd
.python-version
.venv/
venv/
env/
ENV/
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
*.pot
*.mo
celerybeat-schedule
celerybeat.pid
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
.env
!fixtures/initial_data.json
!adapters/__init__.py
!apps/__init__.py
*.rdb